<!DOCTYPE html>
<html>

<head>
  <title>JUMAIN Clients</title>
  <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
  
  {% block stylesheets %}

  <!-- Bootstrap -->
  <link href = "{{ asset('css/bootstrap.min.css') }}" rel = "stylesheet">
    {% endblock %}
    
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

  <!--[if lt IE 9]>
  <script src = "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src = "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<div class="container">
  <nav class = "navbar navbar-inverse" role = "navigation">

    <div class = "navbar-header">
      <a class = "navbar-brand" href = "#">PHP Challenge</a> <small>by JUMAIN</small>
    </div>

    <div>
    {% block nav %}
      <ul class = "nav navbar-nav">
        <li class = "active"><a href = "{{ path('jumain_challenge_homepage') }}">Home</a></li>
        <li><a href = "{{ path('jumain_list_client') }}">Client List</a></li>
        <li><a href = "{{ path('jumain_add_client') }}">Add Client</a></li>
      </ul>
     {% endblock %}
    </div>

  </nav>
  <div class="content">{% block content %}{% endblock %}</div>


</div>

{% block javascripts %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src = "https://code.jquery.com/jquery.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src = "{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
